@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --dark-green: #176b87;
  --blue: #2fa5d6;
  --red: #b52f2c;
  --teal: #64ccc5;
  --white: #eeeeee;
}
hr {
  width: 100%;
  border: 1px solid #dbdada;
}
::selection {
  background-color: var(--teal);
}
body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100%;
}
.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.form form {
  width: 100%;
  padding: 100px 225px;
  display: flex;
  height: calc(100vh - 200px);
  align-items: center;
  justify-content: center;
  background: var(--blue);
}
.form form .content {
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px 25px;
  justify-content: space-between;
  background-color: var(--white);
  width: 50%;
  box-shadow: 10px 10px 15px 0px rgb(115 115 115 / 34%);
  -webkit-box-shadow: 10px 10px 15px 0px rgb(115 115 115 / 34%);
  -moz-box-shadow: 10px 10px 15px 0px rgb(115 115 115 / 34%);
}
.form form .content h1 {
  color: var(--blue);
  font-size: 2.5em;
  font-weight: 700;
  text-align: left;
  margin: 0;
  cursor: default;
}
.form form .content input {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--dark-green);
  transition: 0.5s;
  outline: none;
  margin-bottom: 5px;
  background: var(--white);
}
.form form .content input::-webkit-input-placeholder {
  color: var(--dark-green);
  transition: 0.5s;
  font-weight: 900;
}
.form form .content input:focus {
  border: 2px solid var(--blue);
}
.form form .content label {
  text-align: left;
  margin: 10px 0;
  margin-left: 5px;
}
.form form .content input:focus::placeholder {
  transform: translate(-200px, 0);
}
.form form .content input:focus {
  font-weight: bolder;
}
.form form .content h2 {
  text-align: left;
  font-size: 1em;
  color: var(--blue);
}
.form form .content button {
  margin: 0 0 5px 0;
  border-radius: 50px;
  border: 0px;
  background: none;
  padding: 10px 0;
  cursor: pointer;
}

.form form .content .google {
  background: linear-gradient(-120deg, #4285f4, #34a853, #fbbc05, #ea4335);
  color: #fff;
  transition: 0.5s;
  position: relative;
  font-size: 1.1em;
  opacity: 0.7;
}

.form form .content .google i {
  color: #fff;
  margin-right: 5px;
  font-size: 1.1em;
}

.form form .content .google:hover {
  opacity: 1;
}

.form form .content .github {
  background: #101010;
  color: var(--white);
  border-color: var(--white);
  font-size: 1.1em;
  transition: 0.5s;

  opacity: 0.7;
}
.form form .content .github:hover {
  opacity: 1;
}
.form form .content .github i {
  color: var(--white);
  margin-right: 5px;
  font-size: 1.1em;
}
.form form .content button[type="submit"] {
  background-color: var(--blue);
  color: #fff;
  transition: 0.5s;
  position: relative;
  font-size: 1.1em;
  opacity: 0.7;
}
.form form .content button[type="submit"]:hover {
  opacity: 1;
}
.form form .content a {
  color: var(--blue);
  margin: 10px 0 0 0;
  font-weight: 700;
}
/* start media query */
/* Extra small devices (phones, 600px and down) */
@media (min-width: 320px) and (max-width: 599px) {
  .form form {
    padding: 15px;
    height: calc(100vh - 30px);
    width: 100%;
  }
  .form form .content {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    height: auto;
  }

  .form form .content h1 {
    font-size: 1.5em;
    text-align: center;
  }
  .form form .content button {
    padding: 5px 0;
    margin-bottom: 10px;
  }

  .form form .content input {
    margin-bottom: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) and (max-width: 767px) {
  .form form {
    padding: 0 100px;
    height: 100vh;
    width: 100%;
  }
  .form form .content {
    width: 100%;
    justify-content: center;
  }
  .form form .content h1 {
    font-size: 2em;
  }

  .form form .content input {
    margin-bottom: 10px;
  }
  .form form .content button {
    margin-bottom: 10px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .form form {
    padding: 0 150px;
    height: 100vh;
    width: 100%;
  }
  .form form .content {
    width: 100%;
    padding: 50px;
    justify-content: center;
  }

  .form form .content input {
    margin-bottom: 0px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
  .form form {
    padding: 0 150px;
    height: 100vh;
    width: 100%;
  }
  .form form .content {
    width: 50%;
    padding: 100px;
    justify-content: center;
  }

  .form form .content input {
    margin-bottom: 0px;
  }
  .form form .content button {
    margin-bottom: 20px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .form form {
    padding: 0 150px;
    height: 100vh;
    width: 100%;
  }
  .form form .content {
    width: 50%;
    padding: 100px;
    justify-content: center;
  }

  .form form .content input {
    margin-bottom: 0px;
  }
  .form form .content button {
    margin-bottom: 20px;
  }
}
